<% include partials/header %>




  <div class="container">

  <div class="jumbotron">

    <h1><i class="fas fa-music"></i> বাংলা গান   </h1>
    <p>বাংলা গানের জগতে স্বাগতম ! এখানে আপনি গানের কথা, স্বরলিপি ও কর্ড খুঁজে পাবেন এবং কোন গানের ব্যাপারে আপনার চিন্তা জানাতে পারবেন ও আপনার প্রিয় গানের রেটিং জানাতে পারবেন । </p> 
  </div>



<% include partials/footer %>