<% include ./partials/header %>


<h1> লগইন করুন! </h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder = "নাম">
	<input type="password" name="password" placeholder = "পাসওয়ার্ড">

	<input class="btn btn-success" type="submit" value="লগইন">


</form> 

<% include ./partials/footer %>
