<% include ./partials/header %>


<h1> একাউন্ট খুলুন! </h1>

<form action="/register" method="post">

		<input type="text" name="username" placeholder = "নাম">
		<input type="password" name="password" placeholder = "পাসওয়ার্ড">
		
		<button class= "btn btn-primary"> যুক্ত হোন </button>


</form>

<% include ./partials/footer %>
